In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns

In [2]:
df = pd.read_csv("Complete_df.csv")
df.drop('Unnamed: 0', axis = 1, inplace = True)
df = df.rename(columns={'Held_By_Institusion':'Held_By_Institusion(%)', 'Perf_Week':'Perf_Week(%)','Perf_Month':'Perf_Month(%)', 'Perf_Quarter':'Perf_Quarter(%)','Perf_Half_Year':'Perf_Half_Year(%)','Perf_Year':'Perf_Year(%)'})

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5399 entries, 0 to 5398
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Symbols                    5399 non-null   object
 1   Avg_50                     3785 non-null   object
 2   Avg_200                    3785 non-null   object
 3   Week_52_High               3811 non-null   object
 4   Week_52_Low                3811 non-null   object
 5   Vol_Avg_10_Day             3762 non-null   object
 6   Vol_Avg_3_Months           3779 non-null   object
 7   Held_By_Institusion(%)     3409 non-null   object
 8   Perf_Week(%)               3186 non-null   object
 9   Perf_Month(%)              3186 non-null   object
 10  Perf_Quarter(%)            3186 non-null   object
 11  Perf_Half_Year(%)          3186 non-null   object
 12  Perf_Year(%)               3186 non-null   object
 13  Analyst_Mean_Target_Price  3186 non-null   object
 14  Current_Stock_Price        3186 non-null   float64
 15  Last_Q_Net                 2582 non-null   object
 16  Prev_Q_Net                 2576 non-null   object
 17  Sector                     3647 non-null   object
dtypes: float64(1), object(17)
memory usage: 759.4+ KB

In [4]:
df['Vol_Avg_10_Day'] = df['Vol_Avg_10_Day'].astype(str)
df['Vol_Avg_3_Months'] = df['Vol_Avg_3_Months'].astype(str)

In [5]:
# replace all chars: '%' ','

df.replace({'%':'', ',':''},regex=True, inplace=True)

In [6]:
# we want to take care on k(thousnd) and m(milions)
#Vol_Avg_10_Day:

for index in range(5399):
    if("k" in df.iloc[index,5]):
        df.iloc[index,5] = float(df.iloc[index,5].split('k')[0])*1000
    elif("M" in df.iloc[index,5]):
        df.iloc[index,5] = float(df.iloc[index,5].split('M')[0])*1000000

In [7]:
#Vol_Avg_3_Months:

for index in range(5399):
    if("k" in df.iloc[index,6]):
        df.iloc[index,6] = float(df.iloc[index,6].split('k')[0])*1000
    elif("M" in df.iloc[index,6]):
        df.iloc[index,6] = float(df.iloc[index,6].split('M')[0])*1000000

In [8]:
df[df == '-'] = np.nan

In [9]:
cols = ['Held_By_Institusion(%)' ,'Perf_Week(%)', 'Perf_Month(%)', 'Perf_Quarter(%)','Perf_Half_Year(%)', 'Perf_Year(%)']

In [10]:
df['Avg_50'] = df['Avg_50'].astype(float)
df['Avg_200'] = df['Avg_200'].astype(float)
df['Held_By_Institusion(%)'] = df['Held_By_Institusion(%)'].astype(float)
df['Perf_Week(%)'] = df['Perf_Week(%)'].astype(float)
df['Perf_Month(%)'] = df['Perf_Month(%)'].astype(float)
df['Perf_Quarter(%)'] = df['Perf_Quarter(%)'].astype(float)
df['Perf_Half_Year(%)'] = df['Perf_Half_Year(%)'].astype(float)
df['Perf_Year(%)'] = df['Perf_Year(%)'].astype(float)
df['Week_52_High'] = df['Week_52_High'].astype(float)
df['Week_52_Low'] = df['Week_52_Low'].astype(float)
df['Vol_Avg_10_Day'] = df['Vol_Avg_10_Day'].astype(float)
df['Vol_Avg_3_Months'] = df['Vol_Avg_3_Months'].astype(float)
df['Analyst_Mean_Target_Price'] = df['Analyst_Mean_Target_Price'].astype(float)
df['Current_Stock_Price'] = df['Current_Stock_Price'].astype(float)
df['Last_Q_Net'] = df['Last_Q_Net'].astype(float)
df['Prev_Q_Net'] = df['Prev_Q_Net'].astype(float)

In [11]:
symbols = df['Symbols']
df.drop('Symbols', axis=1, inplace=True)

In [12]:
# remove rows with nan in all cols
df.dropna(how = 'all', inplace = True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3820 entries, 0 to 5398
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Avg_50                     3785 non-null   float64
 1   Avg_200                    3785 non-null   float64
 2   Week_52_High               3811 non-null   float64
 3   Week_52_Low                3811 non-null   float64
 4   Vol_Avg_10_Day             3762 non-null   float64
 5   Vol_Avg_3_Months           3779 non-null   float64
 6   Held_By_Institusion(%)     3409 non-null   float64
 7   Perf_Week(%)               3183 non-null   float64
 8   Perf_Month(%)              3163 non-null   float64
 9   Perf_Quarter(%)            3078 non-null   float64
 10  Perf_Half_Year(%)          2982 non-null   float64
 11  Perf_Year(%)               2692 non-null   float64
 12  Analyst_Mean_Target_Price  2447 non-null   float64
 13  Current_Stock_Price        3186 non-null   float64
 14  Last_Q_Net                 2582 non-null   float64
 15  Prev_Q_Net                 2576 non-null   float64
 16  Sector                     3647 non-null   object
dtypes: float64(16), object(1)
memory usage: 537.2+ KB

In [14]:

# fill all nan cells in median 
df.fillna(df.median().round(2), inplace = True)

# devide all cols in 100
df[cols] = df[cols].div(100)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3820 entries, 0 to 5398
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Avg_50                     3820 non-null   float64
 1   Avg_200                    3820 non-null   float64
 2   Week_52_High               3820 non-null   float64
 3   Week_52_Low                3820 non-null   float64
 4   Vol_Avg_10_Day             3820 non-null   float64
 5   Vol_Avg_3_Months           3820 non-null   float64
 6   Held_By_Institusion(%)     3820 non-null   float64
 7   Perf_Week(%)               3820 non-null   float64
 8   Perf_Month(%)              3820 non-null   float64
 9   Perf_Quarter(%)            3820 non-null   float64
 10  Perf_Half_Year(%)          3820 non-null   float64
 11  Perf_Year(%)               3820 non-null   float64
 12  Analyst_Mean_Target_Price  3820 non-null   float64
 13  Current_Stock_Price        3820 non-null   float64
 14  Last_Q_Net                 3820 non-null   float64
 15  Prev_Q_Net                 3820 non-null   float64
 16  Sector                     3647 non-null   object
dtypes: float64(16), object(1)
memory usage: 537.2+ KB

In [15]:
df['Sector'].fillna('unknown', inplace = True)
#We have ' ' as well so we replacing everything to unknown
df['Sector'].replace('', 'unknown', inplace = True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3820 entries, 0 to 5398
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Avg_50                     3820 non-null   float64
 1   Avg_200                    3820 non-null   float64
 2   Week_52_High               3820 non-null   float64
 3   Week_52_Low                3820 non-null   float64
 4   Vol_Avg_10_Day             3820 non-null   float64
 5   Vol_Avg_3_Months           3820 non-null   float64
 6   Held_By_Institusion(%)     3820 non-null   float64
 7   Perf_Week(%)               3820 non-null   float64
 8   Perf_Month(%)              3820 non-null   float64
 9   Perf_Quarter(%)            3820 non-null   float64
 10  Perf_Half_Year(%)          3820 non-null   float64
 11  Perf_Year(%)               3820 non-null   float64
 12  Analyst_Mean_Target_Price  3820 non-null   float64
 13  Current_Stock_Price        3820 non-null   float64
 14  Last_Q_Net                 3820 non-null   float64
 15  Prev_Q_Net                 3820 non-null   float64
 16  Sector                     3820 non-null   object
dtypes: float64(16), object(1)
memory usage: 537.2+ KB

In [17]:
df['Symbol'] = symbols

In [18]:
# We read in the internet that this is an important indicator if the price of the stock will grow or not!
df['Current_Stock_Price/Avg_50'] = df['Current_Stock_Price'] / df['Avg_50']

In [19]:
df.to_csv("df_after_cleaning.csv", index = False)